header{background-color: #ffa64d;
	padding: 40px 20px;
	}
h1{font-stretch: 90px;
	color:white;}
	header img{
		border-radius: 150px
		width:300px;
		border: 10px solid
	}
	<header>
	<title>Endless Horizon Tours</title>
	<link rel="stylesheet" type="text/css" href="css/test.css">
</header>